@charset "UTF-8";
/* CSS Document */

BODY{
    background-color: BLACK;
}

.hidden {
    display: none;
}

h1{
  font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bolder; 
}

h2{
    font-family: 'RocknRoll One', sans-serif;
    font-size: 45px;
    font-weight: bolder; 
}

.h2_control{
font-family: 'Special Elite', system-ui;
    font-size: 80px;
    font-weight: bolder; 
    color: ffffff;
}


h3 {

    font-family: 'Roboto', sans-serif;
        font-size: 20px; 
    }


    h4 {

        font-family: 'Roboto', sans-serif;
            font-size: 12px; 
            background-color: white;
        }


    



   